# creates a docker for every new tag/release
# see https://github.com/marketplace/actions/docker-spa
name: Docker

on:
  push:
    tags:
      - v*

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: nexys-system/gh-actions-docker-spa@v0.0.20
